<!DOCTYPE html>
<html lang="en">
<head>


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fruit.css') }}">
<h3>Bananas</h3>
</head>
<body>
  <div><a href="javascript:history.go(-1)"onMouuseOver="self.status.referrer;return true"> Back to previous page </a></div>
	<h1>
		<img src="static/img/Banana.jpg" alt="Banana" style="width:150px;height:150px;">
	</h1>
	<h2>
    <!-- In depth description of each item in a table to look more proffesional -->
		Lewis' Shop tries its best to make sure the information about the products is as accurate as possible.



	</h2>
	<table style="width:100%">
  <tr>
    <th>Typical Values</th>
    <th>100g contains</th> 
    <th>One typical banana(150g)</th>
  </tr>
  <tr>
    <td>Energy</td>
    <td>380kJ/90kcal</td> 
    <td>571kJ / 135kcal</td>
  </tr>
  <tr>
    <td>Fat</td>
    <td>0.1g</td> 
    <td>0.2g</td>
  </tr>
  <tr>
    <td>Saturates</td>
    <td>0g</td> 
    <td>0g</td>
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>20.3g</td> 
    <td>30.5g
</td>
  </tr>
  <tr>
    <td>sugars</td>
    <td>18.1g</td> 
    <td>27.2g</td>
  </tr>
  <tr>
    <td>Fibre</td>
    <td>1.4g</td> 
    <td>2.1g</td>
  </tr>
  <tr>
    <td>Protein</td>
    <td>1.2g</td> 
    <td>1.8g</td>
  </tr>
  <tr>
    <td>Salt</td>
    <td>Less than 0.01g</td> 
    <td>Less than 0.01g</td>
  </tr>
</table>
</body>
</html>