<!DOCTYPE html>
<html lang="en">
<head>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fruit.css') }}">
</head>
<body>
  <div><a href="javascript:history.go(-1)"onMouuseOver="self.status.referrer;return true"> Back to previous page </a></div>

	<h1>
		<img src="static/img/Granny smith apple.jpg" alt="GrannySmith" style="width:150px;height:150px;">
	</h1>
	<!-- In depth description of each item in a table to look more proffesional -->
		<h2>
		Lewis' Shop tries its best to make sure the information about the products is as accurate as possible.



	</h2>
	<table style="width:100%">
  <tr>
    <th>Typical Values</th>
    <th>100g contains</th> 
    <th>A typical apple (133g) contains</th>
  </tr>
  <tr>
    <td>Energy</td>
    <td>225.50kJ/53.30kcal</td> 
    <td>299.92kJ/70.89kcal</td> 
  </tr>
  <tr>
    <td>Fat</td>
    <td>0.1g</td> 
    <td>0.13g</td>
    
  </tr>
  <tr>
    <td>Saturates</td>
    <td>Less than 0.1g</td> 
    <td>Less than 0.1g</td> 
    
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>11.5g</td> 
    <td>15.69g</td>
    

  </tr>
  <tr>
    <td>sugars</td>
    <td>11.8g</td> 
    <td>15.69g</td>
    
  </tr>
  <tr>
    <td>Fibre</td>
    <td>1.80g</td> 
    <td>2.39g</td>
    
  </tr>
  <tr>
    <td>Protein</td>
    <td>0.4g</td> 
    <td>0.5g</td>
    
  </tr>
  <tr>
    <td>Salt</td>
    <td>0.03g</td> 
    <td>0.03g</td>
    
  </tr>
</table>


	
</body>
</html>