<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<p>click <a href="/logout">here</a> to log out.</p>
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	</div>

</body>
</html>