<!DOCTYPE html>
<html lang="en">
<head>
  
<h3>Kiwis</h3>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fruit.css') }}">
</head>
<body>
  <div><a href="javascript:history.go(-1)"onMouuseOver="self.status.referrer;return true"> Back to previous page </a></div>
	<h1>
		<img src="static/img/Kiwi.jpg" alt="Kiwi" style="width:150px;height:150px;">
	</h1>
  <!-- In depth description of each item in a table to look more proffesional -->
	<h2>
		Lewis' Shop tries its best to make sure the information about the products is as accurate as possible.



	</h2>
	<table style="width:100%">
  <tr>
    <th>Typical Values</th>
    <th>100g contains</th> 
    
  </tr>
  <tr>
    <td>Energy</td>
    <td>233kJ/55kcal</td> 
    
  </tr>
  <tr>
    <td>Fat</td>
    <td>0.5g</td> 
    
  </tr>
  <tr>
    <td>Saturates</td>
    <td>0g</td> 
    
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>10.6g</td> 
    

  </tr>
  <tr>
    <td>sugars</td>
    <td>10.3g</td> 
    
  </tr>
  <tr>
    <td>Fibre</td>
    <td>1.9g</td> 
    
  </tr>
  <tr>
    <td>Protein</td>
    <td>1g</td> 
    
  </tr>
  <tr>
    <td>Salt</td>
    <td>Less than 0.01g</td> 
    
  </tr>
</table>

	
	
</body>
</html>