<html>
	<head>
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
			<h1>Please login</h1>
			<br>
			<form action=""method="post">
				<input type="text" placeholder="username" name="username" value="{{ request.form.username }}">
				<input type="password" placeholder="Password" name="{{ request.form.password }}">
				<input class="btn btn-default" type="submit" value="Login">
			</form>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}
		</div>
	</body>
	</html>
