<!DOCTYPE html>
<html lang="en">
<head>
	<title>Main Shopping page</title>
	<meta charset="utf-8">
<!-- CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='Mainpage.css') }}">
	<div class="hero-image">
 <div class="hero-text">
 <!-- Information about the shop -->
    <h1>Lewis' Shop</h1>
    <p>Selling fruits</p>
    <p>Phone number: 07487764523</p>
  </div>
</div>
<!-- Here is the link to log out -->
<p>click <a href="/logout">here</a> to log out.</p>
<fieldset><legend>Products</legend>
<!-- Here is the advanced search function -->
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for fruit..">

<ul id="myUL">
  <li><a href="{{ url_for('PinkLady') }}">Pink Lady Apples</a></li>
  <li><a href="{{ url_for('GrannySmith') }}">Granny Smith Apples</a></li>

  <li><a href="{{ url_for('Banana') }}">Bananas</a></li>
  <li><a href="{{ url_for('Cherry') }}">Cherries</a></li>
  <li><a href="{{ url_for('Grapes') }}">Grapes</a></li>

  <li><a href="{{ url_for('Kiwi') }}">Kiwis</a></li>
  <li><a href="{{ url_for('Orange') }}">Oranges</a></li>
  <li><a href="{{ url_for('Pear') }}">Pears</a></li>
  <li><a href="{{ url_for('Strawberry') }}">Strawberries</a></li>
</ul>
<!-- Here is the function for the advanced search -->
<script>

function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
<!-- Here is the list of items that are purchasable, along with pictues and prices. The name and the picture are both able to send you to a more detailed explanation of the product.  -->

<!-- There is a basket link but once again my weakness in mySQL and Flask are starting to show and the basket doesn't link to anything and only asks you to log in again-->

<!-- Although the pay link does -->

<!-- Pictures and layout makes the website look more proffesional -->
	<a href="{{ url_for('Payment') }}"><img src="static/img/Basket.jpg" alt="Basket" style="width:50px;height:50px;";></a><a href="">Check Basket</a>&nbsp  &nbsp<a href="{{ url_for('Payment') }}">Pay</a> <br>
</head>
<body>
<fieldset>
	<div class="row">
		<div class="column">
	
	<a href="{{ url_for('PinkLady') }}"><img src="static/img/Pink lady apple.jpg" alt="PinkLady" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('PinkLady') }}">Pink lady apples</a> &nbsp&nbsp £3 Per Apple
</div>
		<div class="column">
	
	<a href="{{ url_for('GrannySmith') }}"><img src="static/img/Granny smith apple.jpg" alt="GrannySmith" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('GrannySmith') }}">Granny Smith apples</a> &nbsp&nbsp £3 Per Apple
	
</div>
<div class="column">
	<a href="{{ url_for('Banana') }}"><img src="static/img/Banana.jpg" alt="Banana" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Banana') }}">Bananas</a> &nbsp&nbsp £2 Per Banana
</div>
<div class="column">
	<a href="{{ url_for('Cherry') }}"><img src="static/img/Cherry.jpg" alt="Cherry" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Cherry') }}">Cherries</a> &nbsp&nbsp £3 Per 100g
</div>
<div class="column">
	<a href="{{ url_for('Grapes') }}"><img src="static/img/Grapes.jpg" alt="Grapes" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Grapes') }}">Grapes</a> &nbsp&nbsp £2 Per 100g
</div>
<div class="column">
	<a href="{{ url_for('Kiwi') }}"><img src="static/img/Kiwi.jpg" alt="Kiwi" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Kiwi') }}">Kiwis</a> &nbsp&nbsp £3 per Kiwi
</div>
<div class="column">
	<a href="{{ url_for('Orange') }}"><img src="static/img/Orange.jpg" alt="Orange" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Orange') }}">Oranges</a> &nbsp&nbsp £3 Per Orange
</div>
<div class="column">
	<a href="{{ url_for('Pear') }}"><img src="static/img/Pear.jpg" alt="Pear" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Pear') }}">Pears</a> &nbsp&nbsp £3 Per Pear
</div>
<div class="column">
	<a href="{{ url_for('Strawberry') }}"><img src="static/img/Strawberry.jpg" alt="Strawberry" style="width:150px;height:150px;"></a><br>
	<a href="{{ url_for('Strawberry') }}">Strawberries</a> &nbsp&nbsp £4 Per 100g
</div>
</div>
</fieldset>

</body>
</fieldset>
</head>

</html>