<!DOCTYPE html>
<html lang="en">
<head>
  
<h3>Pears</h3>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fruit.css') }}">
</head>
<body>
  <div><a href="javascript:history.go(-1)"onMouuseOver="self.status.referrer;return true"> Back to previous page </a></div>
	<h1>
    <!-- In depth description of each item in a table to look more proffesional -->
    
		<img src="static/img/Pear.jpg" alt="Pear" style="width:150px;height:150px;">
	</h1>
	<h2>
		Lewis' Shop tries its best to make sure the information about the products is as accurate as possible.



	</h2>
	<table style="width:100%">
  <tr>
    <th>Typical Values</th>
    <th>100g contains</th> 
    <th>A typical pear (133g)</th> 
    
  </tr>
  <tr>
    <td>Energy</td>
    <td>196.40kJ/46.50kcal</td> 
    <td>261.21kJ/61.84kcal</td> 
    
  </tr>
  <tr>
    <td>Fat</td>
    <td>0.1g</td> 
    <td>0.13g</td> 
    
  </tr>
  <tr>
    <td>Saturates</td>
    <td>0.1g</td> 
    <td>0.1g</td> 
    
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>10g</td> 
    <td>13.30g</td> 
    

  </tr>
  <tr>
    <td>sugars</td>
    <td>10.00g</td> 
    <td>13.30g</td> 
    
  </tr>
  <tr>
    <td>Fibre</td>
    <td>2.20g</td> 
    <td>2.93g</td> 
    
  </tr>
  <tr>
    <td>Protein</td>
    <td>0.3g</td> 
    <td>0.4g</td> 
    
  </tr>
  <tr>
    <td>Salt</td>
    <td>0g</td> 
    <td>0g</td> 
    
  </tr>
</table>
	
</body>
</html>