<!DOCTYPE html>
<html lang="en">
<head>
  
<h3>Pink lady Apples</h3>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fruit.css') }}">
</head>
<body>
  <div><a href="javascript:history.go(-1)"onMouuseOver="self.status.referrer;return true"> Back to previous page </a></div>
	<h1>
    <!-- In depth description of each item in a table to look more proffesional -->
		<img src="static/img/Pink lady apple.jpg" alt="PinkLady" style="width:150px;height:150px;">
	</h1>
	<h2>
		Lewis' Shop tries its best to make sure the information about the products is as accurate as possible.



	</h2>
	<table style="width:100%">
  <tr>
    <th>Typical Values</th>
    <th>100g contains</th> 
    <th>One typical Apple</th>
  </tr>
  <tr>
    <td>Energy</td>
    <td>225.50kJ/53.30kcal</td> 
    <td>299.92kJ/70.89kcal</td>
  </tr>
  <tr>
    <td>Fat</td>
    <td>0.1g</td> 
    <td>0.13g</td>
  </tr>
  <tr>
    <td>Saturates</td>
    <td>0.01g</td> 
    <td>0.01g</td>
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>11.80g</td> 
    <td>15.69gg
</td>
  </tr>
  <tr>
    <td>sugars</td>
    <td>11.80g</td> 
    <td>15.69g</td>
  </tr>
  <tr>
    <td>Fibre</td>
    <td>1.80g</td> 
    <td>2.39g</td>
  </tr>
  <tr>
    <td>Protein</td>
    <td>0.42g</td> 
    <td>0.53g</td>
  </tr>
  <tr>
    <td>Salt</td>
    <td>0g</td> 
    <td>0g</td>
  </tr>
</table>
	
</body>
</html>